

#card{
    background-color: #b2f0fa;
        color:#158a9c;
        font-size: medium;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-top: 20px;
      
    
}

#searchbutton{
 inline-size: auto;
 margin-left: 15px;
}
.card{
    margin-bottom: 10px; 
    border-width: thick;
    border-style: solid;
    border-color:#17A2B8;
}
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
