{% extends 'accounts/main.html' %} {% block content %}
<hr>
<div class="row" id='card'>
  <div class="col-sm-4">
    <div class="card winter-neva-gradient" id='heading'>
      <div class="card-body">
        <h5 class="card-title">Total ordered</h5>
        <hr>
        <p class="card-text">{{num_orders}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card winter-neva-gradient" id='heading'>
      <div class="card-body">
        <h5 class="card-title">Ordered Delivered</h5>
        <hr />
        <p class="card-text">{{delivered}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card winter-neva-gradient" id='heading'>
      <div class="card-body">
        <h5 class="card-title">Orders Pending</h5>
        <hr />
        <p class="card-text"><b>{{pend}}</b></p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
   
      <div class="card-body text-center">
        <h5 class="card-title">customers</h5>
        <p class="card-text">Find all your customers here.</p>
        <hr>
        <table class="table table-hover" style="overflow-x:auto;">
          <thead class='thead-light'>
            <tr>
              <th scope="col">customer</th>
              <th scope="col">email</th>
              <th>phone number</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <td><a href="{% url 'customer' customer.id %}" class="btn btn-primary btn-sm active btn-rounded" role="button" aria-pressed="true">{{customer.name}}</a></td>
              <td>{{customer.email}}</td>
              <td> {{customer.phone}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  <div class="col">
      <div class="card-body text-center">
        <h5 class="card-title">All orders</h5>
        <p class="card-text">Details of all the orders</p>
        <table class="table table-hover" style="overflow-x:auto;">
          <thead class='thead-light' >
            <tr>
              <th scope="col">Product</th>
              <th scope="col-2">Date Ordered</th>
              <th scope="col">status</th>
              <th>Update</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for i in orders %}
            <tr>
              <td>{{i.product}}</td>
              <td>{{i.date_created}}</td>
              <td>{{i.status}}</td>
              <td>
                <a href="{% url 'update' i.id %}" class="btn-sm dusty-grass-gradient">Update</a>
              </td>
              <td>
                <a href="{% url 'delete' i.id %}" class="btn-sm  ripe-malinka-gradient">Remove</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<!--div  id="whitesmoke"class="card">
  <div class="card-header">
  </div>
  <div class="card-body text-center">
      <blockquote class="blockquote mb-0" >
  <form>
  <div class="form-group">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-bottom:15px;">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  </form>

    </blockquote>
  </div>
</div>
</div>
<div class="card text-center">
  <div class="card-header">
    
  <div class="card-body">
    <h5 class="card-title"></h5>
      <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col-2">Date Ordered</th>
      <th scope="col">Status</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

  </tbody>
</table>
  </div>
    <hr>

</div-->

{% endblock %}