{% extends 'accounts/main.html' %} {% load static %} {% block content %}
<div class="card" style="width: 50rem; margin-left: 300px">
  <div class="card-body">
  <h1>Customer: {{customer.name}}</h1>
  <hr>

    <form action="" method="POST">
      {% csrf_token %}

      {{formset.management_form }}
      {% for form in formset %}
      {{form}}
      <hr>
      {% endfor %}
      
      {{forms.management_form}}
      {% for form in forms %}
      {{form}}
      <hr>
      {% endfor %}

      <button type="submit" class="btn btn-primary" name='submit' method='POST'>Submit</button>
      <hr>
    </form>
  </div>
</div>
{% endblock content %}
