{% extends 'accounts/main.html' %} {% block content %}
<form class="form-inline  form-row">
  <div class="form-group mx-sm-1 mb-2 col-8">
 
    <input type="text" class="form-control mx-sm-5 col-11"  placeholder="search">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
<div class="card text-center">
  <div class="card-header">
    <hr />
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Category</th>
           <th>Description</th>
          <th scope="col-2">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for i in Product %}
        <tr>
          <th scope="row">{{i.name}}</th>
          <td>{{i.category}}</td>
          <td>{{i.description}}</td>
          <td>$ {{i.price}}</td>
          <td><img src="{{i.image}}" alt="image" style="width:100px;"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
 
  {% endblock %}
</div>
