<!-- Navbar -->
{% extends 'accounts/main.html' %}
{% block content %}

<link rel="stylesheet" href=" ">
  

  

   <style>
	.profile-pic{
		max-width: 400px;
		max-height:200px;
		margin: 0 auto;
		 object-fit: cover;
    
	}
</style>
<br>
<br>
<form class="form-inline">
  <div class="form-group mx-sm-1 mb-2 col-10">
  <hr>
   <h5>{{product_filter.form.name.label}}:&nbsp;</h5> 
    {{product_filter.form.name}}
   <hr>
    <hr>
    <h5>{{product_filter.form.tag.label}}:&nbsp;</h5>
    {{product_filter.form.tag}}
   <hr>
    <hr>
    <h5>{{product_filter.form.category.label}}:&nbsp;</h5>
    {{product_filter.form.category}}
    <hr>
    <hr>
    <h5>Price:&nbsp;</h5>
    {{product_filter.form.price}}
    <hr>

    <button type="submit" class="btn btn-primary" >Search</button>
  </div>
</form>

    <hr>
    <br>
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          {% for product in products %}
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src=" {{product.image}} " class="card-img-top profile-pic" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href=" {% url 'forms' request.user.customer.id %} " class="grey-text">
                  <h5>{{product.name}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{% url 'forms' request.user.customer.id %}" class="dark-grey-text">{{product.description}}
                      <span class="badge badge-pill danger-color">NEW</span>
                    </a>
                  </strong>
                  
                        <p>{{product.category}}</p>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>&#x20B9;{{product.price}}</strong>
                </h4>
                
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
{% endfor %}
         
         
          

         
        
        </div>
        <!--Grid row-->

      </section>
      
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

   

    <hr class="my-4">

   
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="" target="_blank"> Shop.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
  {% endblock  %}