{% extends 'accounts/main.html' %}
{% block content %}
<section>
  <hr>
</section>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 100%;
    
	}
</style>
<div class="text-center">
    <div class="card card-cascade narrower cloudy-knoxville-gradient">

              <!-- Card image -->
              <div class="view view-cascade gradient-card-header mdb-color lighten-3 ">
                <h5 class="mb-0 font-weight-bold">Our Customer</h5>
              </div>
              <!-- Card image -->
              

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <img  src="{{request.user.customer.profile_pic.url}}" alt="User Photo" class="z-depth-1 mb-3 mx-auto profile-pic">

                <p class="text-muted"><h1>{{customer.name}}</h1></p>
              </div>
              <!-- Card content -->
              </div>
            </div>
          <hr>
</div>
<div class="card-deck">
  <div class="card heavy-rain-gradient" id="card">
    <div class="card-body">
      <h4 class="card-title">{{customer.name}}</h5>
      <p class="card-text"><a href=" {% url 'profile' %} " type="button" class="btn  btn-outline-success btn-lg btn-block">Update my profile</a>
      <button type="button" class="btn  btn-outline-danger btn-lg btn-block">Delete my profile</button>
      <a name="" id="" class="btn btn-outline-primary btn-lg btn-block" href=" {% url 'forms' customer.id %} " role="button">Create Order</a></p>
      <p class="card-text"><small class="text-muted">{{customer.date_created}}</small></p>
    </div>
  </div>
  <div class="card heavy-rain-gradient" id="card" >
    <div class="card-body">
      <h5 class="card-title">Customer Information</h5>
      <p class="card-text"> <li>Email: {{customer.email}}</li>
        <li>Phone: {{customer.phone}} </li> 
        <li>Adress:abc</li>
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card heavy-rain-gradient" id="card">
    <div class="card-body">
      <h5 class="card-title">Total Ordered:</h5>
      <h1 class="card-title">{{total}}</h1>
      <p class="card-text"><small class="text-muted">last ordered {{latest}}</small></p>
    </div>
  </div>
</div>
<div class="card" style="margin-bottom:10px;" >
  <div class="card-header">
  </div>
  <div class="card-body text-center" id='cardmargin'>
      <blockquote class="blockquote mb-0">
 
  <form class="form-inline  form-row" method='get'>
  <div class="form-group mx-sm-1 mb-2 col-10">
         {% for i in my_filter.form  %}
         <hr>
         {{i}}
         {% endfor %}
    
  </div>
  <button type="submit" class="btn-sm btn-primary mb-2 ">Search</button>
</form>
</blockquote>
  </div>
</div>
</div>
<div class="card  winter-neva-gradient">
 
  <div class="card-body" >
    <h5 class="card-title"></h5>
      <table class="table table-hover ">
  <thead class="thead-light">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Note</th>
      <th scope="col-2">Date Ordered</th>
      <th scope="col">Status</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  {% for i in orders %}
    <tr>
      <th scope="row">{{i.product}}</th>
      <td> {{i.note}} </td>
      <td> {{i.date_created}} </td>
      <td> {{i.status}} </td>
        <td><a class="btn-sm btn-success " href="{% url 'update' i.id %}" role="button">Update</a></td>
        <td><a class="btn-sm btn-danger" href=" {% url 'delete' i.id %} " role="button">Delete</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
  </div>
    <hr>

</div>
{% endblock %}